<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
	<!-- Define the reqres log file location -->
	<property name="LOG_FILE" value="logs/reqres.log" />
	
	<!-- File appender for reqres logging to a file -->
	<appender name="RR_FILE" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_FILE}</file>
		<append>true</append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="com.assessment.demo.filter" level="INFO" additivity="false">
		<appender-ref ref="RR_FILE" />
		<appender-ref ref="CONSOLE" />
	</logger>


	<!-- Console appender for logging to the console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
    
</configuration>
